@model Book
@{
   ViewData["Title"] = "Book details";
}

<div class = "row">
           <div class="col-md-8 offset-2"> 
               <div class="card mb-3" style="max-width: 700px">
                   <div class="row g-0">
                       <div class="col-md-12">
                           <div class="card-header text-white bg-info">
                               <p class="card-text">
                                   <h5 class="card-title">
                                       @Model.Name
                                   </h5>
                               </p>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <img src="@Model.ImageUrl" width="100%" alt="@Model.Name">
                       </div>
                       <div class="col-md-8">
                           <div class="card-body">
                               <p class="cart-text">@Model.Name</p>
                               <p class="cart-text"><b>Writer: </b>@Model.Writer</p>
                               <p class="cart-text">
                                   <b>Provider: </b>
                                   <a asp-controller="Providers" asp-action="Details" asp-route-id="@Model.ProviderId">
                                       @Model.Provider.Name
                                   </a>
                               </p>

                                                              <p class="cart-text">
                                   <b>Publishing House: </b>
                                   <a asp-controller="PublishingHouses" asp-action="Details" asp-route-id="@Model.PublishingHouseId">
                                       @Model.PublishingHouse.FullName
                                   </a>
                               </p>
                               <p class="cart-text"><b>ISBN: </b>@Model.ISBN</p>
                               <p class="cart-text"><b>Category: </b>@Model.BookCategory</p>
                                                <!--              <p class="cart-text">
                                   <b>Status:</b>
                                  if(item.Pieces == 0){
                                       <span class="badge bg-succes text-white"> STOCK EMPTY</span>
                                   }else if(item.Pieces <=5){
                                       <span class="badge bg-succes text-white">LIMIT STOCK</span>
                                   }else{
                                       <span class="badge bg-succes text-white">IN STOCK</span>
                                   }
                               </p>
                               NOTE: MIGRATE DB AND UPDATE AFTER COLUMN PIECES in BOOK MODEL INSERTED
                               -->
                               <p class="card-text">
                                   <b>Writers: </b>
                                   <hr />
                                   <div class="row">
                                @foreach (var writer in Model.Writers_Books)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" src="@writer.Writer.ProfileImageUrl" style="max-width: 150px"/>
                                        <br/>
                                        <a asp-controller="Writers" asp-action="Details" asp-route-id="@writer.WriterId">@writer.Writer.FullName</a>
                                    </div>
                                }
                            </div>
                               </p>
                           </div>
                       </div>

                       <div class="col-md-12">
                           <div class="card-footer">
                               <p class="card-text">
                                   <a class="btn btn-primary float-right" asp-action="Index">
                                       Back to List
                                       </a>
                                   <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddItemToShoppingCart" asp-route-id="@Model.Id"><i class="bi bi-cart-plus"></i>Add to Cart($@Model.Price.ToString("c")</a>
                               </p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
    
</div>